body {
	background-image: url("pngtree-white-lines-pink-background-image_269454.jpg");
} 
#Trai {
    text-align: left;
}
#Phai {
    text-align: right;
}
#Giua p.alignCenter {
    text-align: center;
}

